:root {
  --primary-color: #ffffff;
  --accent-color: #2f303a;
  --accent-color2: #f5f4fa;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --accent-text-color2: #188ce8;
  --address-color: rgba(255, 255, 255, 0.6);
  --color-input: rgba(33, 33, 33, 0.2);
  --border-color: #eeeeee;
  --social-networks-icon: #afb1b8;
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
