.section.work {
  padding-top: 0;
}

.work__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.work__text-position {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}
